<h3>
  Everybody's got their own criteria.  Here are mine:
</h3>

<ul>
  <li><h4>Front-to-back listenability: no skipping songs, the whole album works as a cohesive piece of art.  You can put it on and know you will enjoy the next however-many-minutes</h4></li>
  <li><h4>Timelessness.  The above is true over thousands of plays and many years.  They make you wish "they still made music like this."</h4></li>
  <li><h4>Emotional Connection: these albums contain the songs that you can use as medicine.  They get you through hard times and elevate good times.  You go to a special place when you hear them.</h4></li>
</ul>
