h1 {
  text-align: center;
  margin: 80px 0px;
}

h3 {
  line-height: 1.75em;
  width: 75%;
  margin: 50px auto;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
