

<!--loop knows what albums is because it's in the components class selector-->
<!--that list comes from FirebaseListObservable-->

<div *ngFor="let album of albums | async"  class="panel panel-default">
  <div class="panel-body album">
    <h3><em>{{album.title}}</em> by {{album.artist}}</h3>
    <div class="button" (click)="goToDetailPage(album)">Peep</div>
    <!--only viewable to user when on admin route-->
    <div *ngIf="currentRoute === '/admin'">
      {{album.description}}
      <hr>
      <app-edit-album [selectedAlbum]="album"></app-edit-album>
    </div>
  </div>
</div>
